@model IEnumerable<Therma_Plus_DotNet.DTOs.UsuarioDTO>
@using System.Linq


@{
    ViewData["Title"] = "Informações do Usuário";
}

<h2>@ViewData["Title"]</h2>

<a class="btn btn-primary pt-2 pb-2" href="/regiao/Create">Criar usuário</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th><th>Nome</th><th>Idade</th><th>Doença</th><th>Estado</th><th>Cidade</th><th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
        foreach (var u in Model)
        {
            <tr>
                <td>@u.UsuarioId</td>
                <td>@u.Nome</td>
                <td>@u.Idade</td>
                <td>@u.Doenca</td>
                <td>@u.Estado</td>
                <td>@u.Cidade</td>
                <td>
                    <a class="btn btn-warning" href="/usuario/Edit/@u.UsuarioId">Editar Informações</a>
                    <a class="btn btn-warning" href="/regiao/Edit/@u.RegiaoId">Editar Localização</a>
                    <a class="btn btn-danger" href="/usuario/Delete/@u.UsuarioId">Excluir</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr><td colspan="7">Nenhum usuário cadastrado.</td></tr>
    }
    </tbody>
</table>
